{% extends 'base.html.twig' %}

{% block title %}QuizParticipant{% endblock %}

{% block body %}
    <h1>QuizParticipant</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ quiz_participant.id }}</td>
            </tr>
            <tr>
                <th>Nbr_tries</th>
                <td>{{ quiz_participant.nbrTries }}</td>
            </tr>
            <tr>
                <th>Score</th>
                <td>{{ quiz_participant.score }}</td>
            </tr>
            <tr>
                <th>Joined_at</th>
                <td>{{ quiz_participant.joinedAt ? quiz_participant.joinedAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_quiz_participant_index') }}">back to list</a>

    <a href="{{ path('app_quiz_participant_edit', {'id': quiz_participant.id}) }}">edit</a>

    {{ include('quiz_participant/_delete_form.html.twig') }}
{% endblock %}
