<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ asset('css/register.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <title>Document</title>
    {# <script src="https://www.google.com/recaptcha/api.js" async defer></script> #}
    <style>
    #captcha {
      font-size: 24px;
      font-weight: bold;
      letter-spacing: 2px;
      cursor: pointer;
    }
    body{
        overflow: hidden;
    }
    .error-text {
  color: red;
  animation: fade-in 2s;
}
.dar {
    text-align: center;
    margin-top: 20px;
    padding-top: 5px;
    width: 120px;
    height: 30px;
    border-radius: 0px 10px 10px 0px;
    position: absolute;
    top: 0;
    left: 0;
    background: linear-gradient(to right, rgb(0, 250, 212.5), rgb(230, 230, 230));
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

  </style>
</head>
<body>

<div class="container" id="container">
    <div class="form-container sign-up-container">
        {{ form_start(registrationForm) }}
            <h1>Register</h1>
    <input type="hidden" name="form_type" value="register">
            <div class="social-container">
                <a href="#" class="social"><i class="fab fa-facebook-f"></i></a>
                <a href="#" class="social"><i class="fab fa-google-plus-g"></i></a>
                <a href="#" class="social"><i class="fab fa-linkedin-in"></i></a>
            </div>
            <span>or use your email for registration</span>
            {{ form_row(registrationForm.user_name, {'attr': {'class': 'form-row'}}) }}
            {{ form_row(registrationForm.email, {'attr': {'class': 'form-row'}}) }}
            {{ form_row(registrationForm.plainPassword.first, {'attr': {'class': 'form-row'}}) }}
            {{ form_row(registrationForm.plainPassword.second, {'attr': {'class': 'form-row'}}) }}

             <h2 id="captcha"></h2>
  <br>
  <input type="text" class="form-row" id="userInput" placeholder="Enter the CAPTCHA">
            {{ form_row(registrationForm.agreeTerms) }}
            {# <div class="g-recaptcha" data-sitekey="6LeYaewlAAAAAFb-P1FChyuUJHZCnjPRj-lW9D1l"></div> #}

            <button type="submit" onclick="validateCaptcha()" name="register" class="btn">Register</button>
    {{ form_end(registrationForm) }}
    
    </div>
    <div class="form-container sign-in-container">
    <a href="{{ path('app_main_2') }}" class="btn-primary dar" type="button">home</a>

        <form method="post">
         {% if error %}
            <div class="error-text">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
        {% endif %}
        {% if app.user %}
        <div class="mb-3">   
            You are logged in as {{ app.user.userIdentifier }}, <a href="{{ path('app_logout') }}">Logout</a>
        </div>c
    {% endif %}

    <input type="hidden" name="form_type" value="login">
            <h1>Sign in</h1>
            <div class="social-container">
                <a href="#" class="social"><i class="fab fa-facebook-f"></i></a>
                <a href="#" class="social"><i class="fab fa-google-plus-g"></i></a>
                <a href="#" class="social"><i class="fab fa-linkedin-in"></i></a>
            </div>
            <span>or use your account</span>
            <input type="email"  placeholder="Email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control" autocomplete="email" required autofocus>
            <input type="password"  placeholder="Password" name="password" id="inputPassword" class="form-control" autocomplete="current-password" required>
            <a href="#">Forgot your password?</a>
            <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
    <button class="btn btn-lg btn-primary" name="login" type="submit">
        Sign in
    </button>
        </form>

    </div>
    <div class="overlay-container">
        <div class="overlay">
            <div class="overlay-panel overlay-left">
            <a href="{{ path('app_main_2') }}"class="btn-primary dar" type="button">home</a>

                <h1>Welcome Back!</h1>
                <h5>Enter your personal details and start your quiz journey!</h5>
                
                <button class="ghost" id="signIn">Sign In</button>
            </div>
            <div class="overlay-panel overlay-right">
                <h1>Hello, Friend!</h1>
                <h5>Connect to your quiz space, and face the challenges!</h5>
                <button class="ghost" id="signUp">Sign Up</button>
            </div>
        </div>
    </div>
</div>
</form>

 {% if connect == 'register' %}
    <script>
    window.onload = function() {
        console.log('signup');
        let signUpButton = document.getElementById('signUp');
        signUpButton.click();
    };
    </script>
{% endif %}
<script src="{{ asset('js/script.js') }}"></script>
</body>
</html>
