<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ asset('css/register.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <title>Document</title>
    {# <script src="https://www.google.com/recaptcha/api.js" async defer></script> #}
    <style>
    #captcha {
      font-size: 24px;
      font-weight: bold;
      letter-spacing: 2px;
      cursor: pointer;
    }
  </style>
</head>
<body>
<div class="container" id="container">
    <div class="form-container sign-up-container">
        {{ form_start(registrationForm) }}
            <h1>Register</h1>
    <input type="hidden" name="form_type" value="register">
            <div class="social-container">
                <a href="#" class="social"><i class="fab fa-facebook-f"></i></a>
                <a href="#" class="social"><i class="fab fa-google-plus-g"></i></a>
                <a href="#" class="social"><i class="fab fa-linkedin-in"></i></a>
            </div>
            <span>or use your email for registration</span>
            {{ form_row(registrationForm.user_name) }}
            {{ form_row(registrationForm.email) }}
            {{ form_row(registrationForm.plainPassword.first) }}
            {{ form_row(registrationForm.plainPassword.second) }}
             <h2 id="captcha"></h2>
  <br>
  <input type="text" id="userInput" placeholder="Enter the CAPTCHA">
            {{ form_row(registrationForm.agreeTerms) }}
            {# <div class="g-recaptcha" data-sitekey="6LeYaewlAAAAAFb-P1FChyuUJHZCnjPRj-lW9D1l"></div> #}

            <button type="submit" onclick="validateCaptcha()" name="register" class="btn">Register</button>
    {{ form_end(registrationForm) }}
    </div>
    <div class="form-container sign-in-container">
        <form method="post">
         {% if error %}
            <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
        {% endif %}
        {% if app.user %}
        <div class="mb-3">
            You are logged in as {{ app.user.userIdentifier }}, <a href="{{ path('app_logout') }}">Logout</a>
        </div>c
    {% endif %}
    <input type="hidden" name="form_type" value="login">
            <h1>Sign in</h1>
            <div class="social-container">
                <a href="#" class="social"><i class="fab fa-facebook-f"></i></a>
                <a href="#" class="social"><i class="fab fa-google-plus-g"></i></a>
                <a href="#" class="social"><i class="fab fa-linkedin-in"></i></a>
            </div>
            <span>or use your account</span>
            <input type="email"  placeholder="Email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control" autocomplete="email" required autofocus>
            <input type="password"  placeholder="Password" name="password" id="inputPassword" class="form-control" autocomplete="current-password" required>
            <a href="#">Forgot your password?</a>
            <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
    <button class="btn btn-lg btn-primary" name="login" type="submit">
        Sign in
    </button>
        </form>

    </div>
    <div class="overlay-container">
        <div class="overlay">
            <div class="overlay-panel overlay-left">
                <h1>Welcome Back!</h1>
                <h5>Enter your personal details and start your quiz journey!</h5>
                
                <button class="ghost" id="signIn">Sign In</button>
            </div>
            <div class="overlay-panel overlay-right">
                <h1>Hello, Friend!</h1>
                <h5>Connect to your quiz space, and face the challenges!</h5>
                <button class="ghost" id="signUp">Sign Up</button>
            </div>
        </div>
    </div>
</div>
</form>

 {% if connect == 'register' %}
    <script>
    window.onload = function() {
        console.log('signup');
        let signUpButton = document.getElementById('signUp');
        signUpButton.click();
    };
    </script>
{% endif %}
<script src="{{ asset('js/script.js') }}"></script>
</body>
</html>
