<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Welcome!{% endblock %}</title>
    {# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}
    {% block stylesheets %}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.6.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="{{ asset('css/style.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
    {% endblock %}
    
    {% block javascripts %}
        {{ encore_entry_script_tags('app') }}
        <script src="js/script.js"></script> 
    {% endblock %}
</head>
<body>
    {% include 'navbar/nav.html.twig' %}
    <div class="container-fluid h-100">
        <div class="row h-100 d-flex align-items-stretch">
            <div class="col-lg-2 col-md-3 sidebar h-100">
                <div class="first_block">
                    <!-- Button groups inside the sidebar -->
                    <div class="d-flex flex-column">
                        <a type="button" href="{{ path('app_quizes_index') }}" class="btn btn-outline-secondary btn-block mb-2 {% if app.request.attributes.get('_route') == 'app_quizes_index' %}active{% endif %}">Dashboard</a>
                        <a type="button" href="{{ path('app_user') }}" class="btn btn-outline-secondary btn-block mb-2 {% if app.request.attributes.get('_route') == 'app_user' %}active{% endif %}">My Profile</a>
                        <a type="button" class="btn btn-outline-secondary btn-block mb-3">Button 3</a>
                    </div>
                    <!-- Button groups inside the sidebar -->
                    {% block menu %}
                    <a href="{{ path('app_quizes_new') }}" class="btn create btn-outline-success">Create Quizz</a><br>
                    {% endblock %}
                    <a href="/{{app.user ? 'logout' : 'login'}}">{{app.user ? 'Logout' : 'Login'}}</a>
                </div>
            </div>
            <div class="col-lg-10 col-md-9">
                {% block body %}
                <h1>Welcome!</h1>
                <p>Body content goes here</p>
                {% endblock %}
            </div>
        </div>
    </div>
    <footer>
        {% block footer %}
        {% endblock %}
    </footer>
    <script src="https://code.jquery.com/jquery-3.6.0.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/2.9.3/umd/popper.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.6.0/js/bootstrap.min.js"></script>
    {{ encore_entry_script_tags('app') }}
</body>
</html>
