{{ form_start(form) }}
    {{ form_row(form.title) }}
    {{ form_row(form.description) }}
    {{ form_row(form.is_public) }}
    {{ form_row(form.max_tries) }}
    <button  class="btn btn-primary mb-3">{{ button_label|default('Add Questions') }}</button>
{{ form_end(form) }}

