{% extends 'base.html.twig' %}

{% block title %}Edit Quizes{% endblock %}

{% block body %}
    {% if app.user.id == user_id %}
        <h1>Edit Quizes</h1>

        
        {{ include('quizes/_form.html.twig', {'button_label': 'Update'}) }}
        {{ include('quizes/_delete_form.html.twig') }}
        <a href="{{ path('app_questions_new', {'quiz_id': quize.id}) }}">new question</a>
    {% for question in questions %}
    <h3>{{ question.text }}</h3>
        {{ include('questions/_delete_form.html.twig') }}
       <a href="{{ path('app_questions_edit', {'id': question.id}) }}">edit</a>

    <ul>
        {% for answer in question.answers %}
            {{ include('answers/_delete_form.html.twig') }}

            <li>{{ answer.text }}</li>
        {% endfor %}
    </ul>
{% endfor %}

    
    {% else %}
        this quiz is not yours
    {% endif %}
    <a href="{{ path('app_quizes_index') }}">back to list</a>
{% endblock %}
