{% extends 'base.html.twig' %}

{% block title %}Edit Quizzes{% endblock %}

{% block body %}
<div class="container mt-4">
    {% if app.user.id == user_id %}
        <h1 class="mb-4">Edit Quizzes</h1>

        {{ include('quizes/_form.html.twig', {'button_label': 'Update', 'form_class': 'mt-4'}) }}
        {{ include('quizes/_delete_form.html.twig', {'form_class': 'mt-2'}) }}
        <a href="{{ path('app_questions_new', {'quiz_id': quize.id}) }}" class="btn btn-primary mt-2">New Question</a>

        {% for question in questions %}
        <h3 class="mt-4">{{ question.text }}</h3>
        {{ include('questions/_delete_form.html.twig', {'form_class': 'mt-2'}) }}
        <a type="button" href="{{ path('app_questions_edit', {'id': question.id}) }}" class="edque btn-success">Edit</a>

        <ul class="list-unstyled mt-2">
            {% for answer in question.answers %}
                <li>{{ answer.text }}</li> {{ include('answers/_delete_form.html.twig', {'form_class': 'ml-4'}) }} 
            {% endfor %}
        </ul>
        {% endfor %}

    {% else %}
        <div class="alert alert-info mt-4">
            This quiz is not yours.
        </div>
    {% endif %}
    
    <a href="{{ path('app_quizes_index') }}" class="btn btn-secondary">Back to List</a>
</div>
{% endblock %}
