{% extends 'base.html.twig' %}

{% block title %}Quizes index{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('css/style.css') }}">
{% endblock %}

{% block menu %}
<a href="{{ path('app_quizes_new') }}" class="btn create btn-outline-success">Create Quiz</a><br>
{% endblock %}

{% block body %}
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <div class="card-container bounce-in-top">
    {% for item in data|reverse %}
    {% if item.quiz.isIsPublic() == 1 and item.quiz.getUserId().id != app.user.id %}
        <div class="card bounce-in-top">
            <div class="card-header">
         <strong class="card-title">{{ item.quiz.title }}</strong>
            </div>
            <div class="card-body">
              <p class="card-text" ><strong> Created By: </strong><a href="{{ path('app_a_user', {'id': item.quiz.getUserId().id}) }}">{{ item.user_name }}</a></p>
                <p class="card-text" id="code"><strong>Code: </strong>{{ item.quiz.code }}</p>
                <p class="card-text"><strong>Type:</strong> {{ item.quiz.isIsPublic() == 1 ? 'Public' : 'Private' }}</p>
                <p class="card-text"><strong>Created at:</strong> {{ item.quiz.getCreatedAt1() is not null ? item.quiz.getCreatedAt1() : '' }}</p>
                <p class="card-text"><strong>Max tries:</strong> {{ item.quiz.getMaxTries() }}</p>
                <div class="qr-code-container">
                    <img id="qr-code-{{ item.quiz.id }}" src="" alt=""/>
                </div>
                <script>
                    var image = document.getElementById("qr-code-{{ item.quiz.id }}");
                    var input = "{{ item.quiz.code }}";
                    var api = "https://api.qrserver.com/v1/create-qr-code/?size=80x80&data=" +"/quizes/join/" +encodeURIComponent(input);
                    image.src = api;
                </script>


            </div>
                    <div class="action-buttons d-grid gap-2">
                        <a type="button" href="{{ path('app_quizes_show', {'id': item.quiz.id}) }}" class="btn but btn-primary">Show</a>
                    </div>
        </div>
    {% endif %}
{% else %}
    <p>No records found.</p>
{% endfor %}

    </div>
{% endblock %}
