{% extends 'base.html.twig' %}

{% block title %}Tries{% endblock %}

{% block stylesheets %}
    {{ parent() }}
{% endblock %}

{% block body %}
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script>
    const url = new URL(window.location.href);

// Get the value of the "score" parameter from the URL
const searchParams = new URLSearchParams(url.search);
const score = {{pt.getScore()}};

// Check if the "score" parameter exists and process it
if(score != null)
{
    var score1 = "score: "+score+"%";

    if(score == 100)
    {
        var text1 = 'You got a perfect, score keep going!';
        var imageUrl1 = '/images/good_job.jpg';
        var height1 = 300;
    }
    if(score < 100 && score > 80)
    {
        var text1 = 'Well done. You almost got it all right!';
        var imageUrl1 = '/images/well_done.png';
        var height1 = 300;

    }
    if(score < 80 && score > 50)
    {
        var text1 = 'Great next time you can do better.';
        var imageUrl1 = '/images/great.jpg';
        var height1 = 200;
    }
    if(score == 50)
    {
        var text1 = 'You passed the exam but with sweat!';
        var imageUrl1 = '/images/sweat.jpg';
        var height1 = 400;
    }
    if(score < 50)
    {
        var text1 = 'Sorry, you didnt pass the quiz!';
        var imageUrl1 = '/images/sorry.gif';
        var height1 = 350;
    }
    

    Swal.fire({
  title: score1,
  text: text1,
  imageUrl: imageUrl1,
  imageWidth: 400,
  imageHeight: height1,
  imageAlt: 'Custom image',
})

}
</script>
            <h1 style="text-align: center;">Score: {{ pt.getScore() }}%</h1>
<div class="example-wrapper" style="display: flex; flex-wrap: wrap;max-width:93%;">
    {% for question in questions %}
    <div class="card-container hist-card">
        <div class="card cc">
            <div class="card-header">
                <h5 class="card-title">{{ question.text }}</h5>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col">
                        <h6>Your Answer</h6>
                        <ul>
                        {% for answer in answers %}
                            {% if answer.getQuestId().getId() == question.getId() %}
                                <li><span class="label">{{ answer.text }}</span></li>
                            {% endif %}
                        {% endfor %}
                        <ul>
                    </div>
                    <div class="col">
                        <h6>Correct Answer</h6>
                        <ul>
                        {% for c_answer in question.getAnswers() %}
                            {% if c_answer.isIsCorrect() %}
                               <li style="background-color:green;"><span class="label">{{ c_answer.text }}</span></li> 
                            {% endif %}
                        {% endfor %}
                        <ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% if loop.index % 2 == 0 %}
        <br>
    {% endif %}
    {% endfor %}
</div>
{% endblock %}
