{% extends 'base.html.twig' %}

{% block title %}Tries{% endblock %}

{% block stylesheets %}
    {{ parent() }}
{% endblock %}

{% block body %}
<div class="example-wrapper">
{% if app.user.id == user_id %}
  {% set text = "My Tries" %}
  {% else %}
    {% set text = part_name ~ ' tries' %}
{% endif %}
  <h1>{{text}} in {{quize.title}} </h1>

   {% if quize_pt is not empty %}
    

        {% for pt in quize_pt %}
        {% if pt.getUserId().getId() == user_id %}
            {% set ptId = pt.getId()%}
        
            
  <ul>
      <li>
        <div>
          <span class="label">trie nยบ: {{pt.getNbrTries()}}</span>
          <span class="label">Score: {{ pt.getScore()}}%</span>
          <span class="label">Joined At: {{ pt.getJoinedAt()|date('Y-m-d H:i:s') }}</span>
        </div>
          <a type="button" href="{{ path('app_user_trie_history', {'id': ptId}) }}" class="btn-primary showAns">Show Answers</a>
      </li>
  </ul>
  {% endif %}
        {% endfor %}
    {% else %}
        <p>No quiz participants found.</p>
    {% endif %}
</div>
{% endblock %}
